*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --primarycolor: white;
    --secondarycolor:rgb(48,49,52);
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
}
.genre{
    height: 100%;
    width: 25%;
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.quote{
    height: 100%;
    width: 75%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.box{
    height: 65%;
    width: 70%;
    background-color: var(--secondarycolor);
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--primarycolor);
    position: relative;
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5) ;
}
h1{
    margin-top: 5vmin;
    font-size: 7vmin;
    text-align: center;
}
p{
    font-size: 2.5vmin;
    text-align: center;
}

.line{
    height: 2px;
    width: 80%;
    background-color: black;
}
.buttons{
    height: 35%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
button{
    height: 6vmin;
    width: 6vmin;
    border: 3.5px solid blueviolet;
    border-radius: 50%;
    color: blueviolet;
    font-size: 2.5vmin;
}
.quote_text{
    width: 100%;
    padding:3vmin 10vmin;
}
.line{
    margin: 1.5vmin;
}
.next{
    height: 6vmin;
    width: 16vmin;
    background-color: blueviolet;
    border-radius: 10px;
    color: var(--primarycolor);
}
.text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
}
.theme{
    position: absolute;
    height: 6vmin;
    width: 6vmin;
    top: 5%;
    right: 1%;
    background-color: var(--secondarycolor);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2.5px solid blueviolet;
    border-radius: 50%;
    color:var(--primarycolor);
    font-size: 2.5vmin;
    
}  
.genre_type{
    height: auto;
    width: auto;
    padding:1vmin 3vmin;
    border-radius: 10px;
}
.genre h1{
    margin-bottom: 5vmin;
}